@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

.modal-90w {
    width: 100%;
}

.limit-height {
    max-height: 50%;
}

.blog-post img {
    text-align: center;
}

.hide-images img {
    display: none;
}

.hover-lighten {
    animation: unlighten 0.4s forwards;
    cursor: pointer;
}

.hover-lighten:hover {
    animation: lighten 0.4s forwards;
}

@keyframes lighten {
    100% {
        opacity: 0.8;
    }
}

@keyframes unlighten {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1.0;
    }
}